<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/createLesson.css" />
    <script src="/lessonCreaterIndex.js" type="module" defer></script>
</head>

<body>
    <h1>Create Your Lesson</h1>
    <lesson-creater data-lessonid="<%= lessonId %>"></lesson-creater>
    <template id="lesson-creater">
        <style>
            form {

                .slideSelecter {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: fit-content;
                    border: 1px black solid;
                    margin: 25px 0;
                    padding: 10px;

                    label {}

                    select {}
                }


                fieldset {
                    width: 33%;
                    margin: 25px 0;

                    label {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                    }
                }
            }
        </style>
        <form action="/lessons/createlesson" method="post">
            <label for="lessonName" class="lessonNameLabel">
                Write the name of your lesson.
                <input type="text" id="lessonName" placeholder="Lesson Name" name="lessonName" required>
                <input type="hidden" name="lessonId" value=<%= lessonId %> >
            </label>

            <groupname-selecter name="groupname"></groupname-selecter>

            <div class="slideSelecter">
                <label for="select">Choose what type of slide to make.</label>
                <select name="" id="slideSelecter">
                    <option value="" selected>--Choose a slide</option>
                    <option value="intro">Introduce grammar or vocabulary</option>
                    <option value="question">Make a question</option>
                </select>
                <button type="button" id="slide-selecterButton">Add New Slide</button>
            </div>
             <button>Create Lesson</button>
        </form>
    </template>
    <template id="groupname-selecter">
        <style>

        </style>
        <label for="newGroupName">Create a group to put your lesson in</label>
        <input type="text" id="newGroupName" name="newgroupname">
        <label for="groupNames">Or choose a preexisting group</label>
        <select name="oldgroupname" id="groupNames">
            <option value="" selected>Choose a group name</option>
        </select>
    </template>
</body>

</html>  

      