form {
    .slideSelecter {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
        border: 1px black solid;
        margin-bottom: 50px;
        padding: 10px;

        label {}

        select {}
    }


    fieldset {
        width: 33%;

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        margin-bottom: 20px;
    }

}