<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/createLesson.css">
</head>
<body>
    <!-- <h1>Create Your Lesson</h1>
    <p class="selectContainer">
        <label for="">Choose what type of slide to make.</label>
        <select name="" id="select">
            <option value="intro">Introduce grammar or vocabulary</option>
            <option value="question">Make a question</option>
        </select>
    </p>
    <button type="button">Add New Slide</button> -->
    <form action="/lessons/createlesson" method="post">
        <fieldset class="intro">
                <label>Enter the target word
                     <input type="text" name="a[1][g]">
                </label>
                <label>Enter definition of target word
                    <input type="text" name="a[1][bob]">
                </label>
                
        </fieldset>

        <fieldset class="intro">
           <label>Enter the target word
                     <input type="text" name="a[3][g]">
                </label>
                <label>Enter definition of target word
                    <input type="text" name="a[3][bob]">
                </label>
        </fieldset>
        <button>Create Lesson</button>
    </form>
</body>
</html>