<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/createLesson.css" />
    <script src="/lessonCreaterIndex.js" type="module" defer></script>
</head>

<body>
    <lesson-creater data-lessonid="<%= lessonId %>"></lesson-creater>
    <template id="lesson-creater">
        <style>
            h1 {
                text-align: center;
                border-bottom: 1px black solid;
                padding: 10px;
                background-color: rgb(248, 248, 109);
                margin: 0;
            }

            form {
                --itemWidth: 33vw;
                --fontSize: 1.1rem;
                --inputPadding: 5px;

                padding: 20px;

                .lessonNameLabel {
                    display: flex;
                    flex-direction: column;
                    width: 450px;
                    font-size: var(--fontSize);
                    gap: 10px;
                    margin-bottom: 10px;

                    input {
                        font-size: var(--fontSize);
                        padding: var(--inputPadding);
                    }
                }

                .slideSelecter {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: fit-content;
                    border: 1px black solid;
                    margin: 25px 0;
                    padding: 10px;

                    label {
                        font-size: var(--fontSize)
                    }

                    select {
                        font-size: var(--fontSize)
                    }

                    button {}
                }

                .slide-fieldSet {
                    display: flex;
                    gap: 15px;
                    background-color: #f1f1f1;
                    width: fit-content;
                    margin: 15px 0;

                    fieldset {
                        width: 500px;
                        margin: 25px 0;
                        border: none;
                        border-radius: 5px;

                        legend {
                            font-size: 1.2rem;
                            position: relative;
                            top: -15px;
                            font-weight: bold;
                        }

                        label,
                        input {
                            font-size: var(--fontSize);
                        }

                        label {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                            gap: 5px;
                        }

                        input {
                            padding: var(--inputPadding);
                        }
                    }

                    .fieldSetButtons {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .deleteFieldSet{
                            margin-bottom: auto;
                        }

                        button {
                            height: 30px;
                            width: 30px;
                            padding: 0;
                            cursor: pointer;

                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }

                .submit{
                    font-size: 1.1rem;
                }
            }

            @media screen and (width <= 600px) {
                form{
                    --fontSize: 1rem;
                    --inputPadding: 5px;
                    --inputWidth:100%;

                    label, input{
                        font-size: var(--fontSize);
                    }

                    .lessonNameLabel, groupname-selecter, .slide-fieldSet{
                        width: var(--inputWidth);
                    }

                    groupname-selecter{
                        font-size: var(--fontSize);
                    }
                }
            }
        </style>

        <h1>Create Your Lesson</h1>
        <form action="/lessons/createlesson" method="post">

            <label for="lessonName" class="lessonNameLabel">
                Write the name of your lesson.
                <input type="text" id="lessonName" placeholder="Lesson Name" name="lessonName" required>
                <input type="hidden" name="lessonId" value=<%=lessonId %> >
            </label>

            <groupname-selecter name="groupname" class="x"></groupname-selecter>

            <div class="breakLine" style="width: 100%; border: 2px solid black;"></div>

            <div class="slideSelecter">
                <label for="select">Choose what type of slide to make.</label>
                <select name="" id="slideSelecter">
                    <option value="" selected>--Choose a slide</option>
                    <option value="intro">Introduce grammar or vocabulary</option>
                    <option value="question">Make a question</option>
                </select>
                <button type="button" id="slide-selecterButton">Add New Slide</button>
            </div>
            <button class="submit">Create Lesson</button>
        </form>
    </template>
    <template id="groupname-selecter">
        <style>
            :host {

                font-size: 1.1rem;

                display: flex;
                flex-direction: column;
                width: 450px;
                gap: 10px;
                padding-bottom: 20px;

                label {
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    gap: 10px;
                }

                input,
                select {
                    font-size: inherit;
                    padding: 5px;
                }
            }
        </style>
        <label for="newGroupName">Create a group to put your lesson in</label>
        <input type="text" id="newGroupName" name="newgroupname">
        <label for="groupNames">Or choose a preexisting group</label>
        <select name="oldgroupname" id="groupNames">
            <option value="" selected>Choose a group name</option>
        </select>
    </template>
</body>

</html>