:root {
    --lessonLinkPadding: 7px 7px 7px 30px;
    --lessonLinkFont: 1.5rem;
    --width: 80vw
}

html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        background-color: rgb(248, 248, 109);
        padding: 5px;
        font-size: 2rem;
    }

    .mainContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        gap: 20px;

        h1 {
            font-size: 1.5rem;
            text-align: center;
        }

        a.createLessonButton {
            border: 1px black solid;
            border-radius: 5px;
            text-decoration: none;
            background-color: yellow;
            color: black;
            font-size: 1.3rem;
            padding: 6px;
            box-shadow: 3px 3px 1px black;
        }

        ul.nogroup {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: var(--width);

            li {
                border: 1px black solid;
                border-radius: 2px;
                padding: var(--lessonLinkPadding);
                list-style: none;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: rgb(172, 244, 244);
                }
            }

            a.lesson {
                text-decoration: none;
                color: black;
                font-size: var(--lessonLinkFont);
                margin-right: auto;
                flex: 1;
            }

            a.icon {

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(255, 149, 0);
                    }
                }
            }
        }

        extendable-list {
            width: var(--width);

            p {
                font-size: 1.4rem;
                text-decoration: underline;
                cursor: pointer;
                text-align: center;
                margin-top: 15px;

                &:hover {
                    color: red;
                }
            }

            ul {
                list-style: none;
                /* padding-left: 60px; */

                li {

                    border: 1px black solid;
                    border-radius: 2px;
                    margin: 8px 0;
                    padding: var(--lessonLinkPadding);
                    cursor: pointer;
                    display: flex;
                    flex-wrap: wrap;

                    &:hover {
                        background-color: rgb(172, 244, 244);
                    }

                    a.lesson {
                        text-decoration: none;

                        color: black;
                        font-size: var(--lessonLinkFont);
                        margin-right: auto;
                        flex: 1;
                    }

                    a.icon {
                        img {
                            width: 30px;
                            height: 30px;
                            margin-right: 20px;
                            cursor: pointer;

                            &:hover {
                                background-color:  rgb(255, 149, 0);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: rgb(188, 188, 188);
        text-align: center;
    }
}

@media screen and (width <=500px) {
    body {

        header {

            font-size: 1.5rem;
            text-align: center;
        }

        .mainContainer {

            ul.nogroup li a.lesson {
                font-size: .9rem;
            }

            ul.nogroup li a.icon img{
                 width: 15px;
                height: 15px;
            }

            extendable-list {

                p {
                    font-size: 1.1rem;
                }

                ul li a.lesson {
                    font-size: .9rem;
                }

                ul li a.icon img {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        footer {}
    }
}