<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <h1>Hello, <%= username %></h1>
    <% if (userType === "teacher") { %>
     <a href="/lessons/createlesson">Create A Lesson</a>
    <% } %>

    <% lessonsData.forEach(lesson => { %>
     <a href=<%= `/lessons/${lesson.id}?lessonname=${lesson.name}` %>><%= lesson.name %></a>
    <% }) %>
</body>
</html>