<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/indexPage.css">
</head>
<body>
    <% if (locals.user) { %>
     <h1>Hello, <%= locals.user.username %></h1>
    <% } %>
    <div class="mainContainer">
        <form action="/login" method="get" id="login">
            <button type="submit">Log In</button>
        </form>
        <form action="/signup" method="get" id="signup">
           <button type="submit">Sign Up</button>
        </form>
        <form action="" method="get" id="letstry">
           <button type="button">Let's Try</button>
        </form>
    </div>
    <footer>Konnnyaku English</footer>
</body>
</html>