<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
    <!-- <script src="/sos.js" defer type="module"></script> -->
  </head>
  <body>
    <header>Konnnyaku English</header>
    <% if (locals.user) { %>
    <h1>Hello, <%= locals.user.username %></h1>
    <% } %>
    <ul class="mainContainer">
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="">Let's Try</a></li>
    </ul>
    <footer>Made By Green Zombie 2025</footer>
  </body>
</html>
