<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>Konnnyaku English</header>
    <form action="/login" method="POST" class="login">
            <p><label for="username">Username</label><input type="text" name="username" id="username" autocomplete="username"></p>
            <p><label for="password">Password</label><input type="password" name="password" id="password" autocomplete="current-password"></p>
            <button type="submit">Log In</button>
        </form>
    <footer>Made By Green Zombie 2025</footer>
  </body>
</html>
