<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./signupPage.css">
</head>
<body>
    <div class="mainContainer">
        <form action="/signup" method="POST">
            <p><label for="username">Username</label><input type="text" name="username" id="username" autocomplete="username"></p>
            <p><label for="password">Password</label><input type="password" name="password" id="password" autocomplete="current-password"></p>
            <fieldset>
                <legend>Are you a student or teacher</legend>
                <input type="radio" name="userType" value="student" id="student"><label for="student">Student</label>
                <input type="radio" name="userType" value="teacher" id="teacher"><label for="teacher">Teacher</label>
            </fieldset>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <footer>Konnnyaku English</footer>
</body>
</html>