<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/lessons" method="get" id="signUpComplete" >
        <h1>You are all set, <%= user.username %>!</h1>
        <button type="submit">Go To Lessons Page</button>
    </form>
</body>
</html>