<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/lessons" method="get" id="signUpComplete" ></form>
    <h1>You are all set!</h1>
    <button type="submit" form="signUpComplete">Go To Lessons Page</button>
</body>
</html>