<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header>Konnnyaku English</header>
        <form action="/signup" method="POST" class="signup">
            <p><label for="username">Username</label><input type="text" name="username" id="username"
                    autocomplete="username"></p>
            <p><label for="password">Password</label><input type="password" name="password" id="password"
                    autocomplete="current-password"></p>
            <fieldset>
                <legend>Are you a student or teacher</legend>
                <p>
                    <label for="student">Student</label>
                    <input type="radio" name="userType" value="student" id="student" checked>
                </p>
                <p>
                    <label for="teacher">Teacher</label>
                    <input type="radio" name="userType" value="teacher" id="teacher">
                </p>
            </fieldset>
            <button type="submit">Sign Up</button>
        </form>     
    <footer>Konnnyaku English</footer>
</body>

</html>